<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema Supermercado</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">
    <script src="/assets/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">