{{> header.hbs}}
    <h1>Editar Cliente</h1>

    <form method="POST" action="/customers/{{data.id}}/edit">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" value="{{data.name}}">
        <br>
        <label for="name">Email:</label>
        <input type="text" id="email" name="email" value="{{data.email}}">
        <br>
        <input type="submit" value="Enviar">
    </form>
    {{#if fs}}
        <div class="success">Produto editado com sucesso</div>
    {{/if}}
{{> footer.hbs}}