<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema Supermercado</title>
</head>
<body>
    <h1>Clientes</h1>

    <table>
        <tr>
            <td>Nome</td>
            <td>Email</td>
        </tr>
        {{#each data}}
        <tr>
            <td><a href="/customers/{{id}}">{{name}}</a></td>
            <td>{{email}}</td>
        </tr>
        {{/each}}
    </table>

    {{#if delete}}
        <div class="success">Produto deletado com sucesso</div>
    {{/if}}

</body>
</html>