{{> header.hbs}}
<h1>Editar Produto</h1>
<div class="col-md-4">
    <form method="POST" action="/products/{{data.id}}/edit">
        <div class="form-group">
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" value="{{data.name}}" class="form-control">
        </div>

        <div class="form-group">
            <label for="name">Preço:</label>
            <input type="number" id="price" name="price" value="{{data.price}}" class="form-control">
        </div>

        <div class="form-group">
            <label for="name">Estoque:</label>
            <input type="number" id="stock" name="stock" value="{{data.stock}}" class="form-control">
        </div>

        <div class="btn-group">
            <input type="submit" class="btn btn-default" value="Enviar">
            <a class="btn btn-warning" href="/products">Voltar</a>
        </div>
    </form>

</div>
{{#if fs}}
    <div class="success">Produto editado com sucesso</div>
{{/if}}
{{> footer.hbs}}