{{> header.hbs}}
    <h1>Criar Produto</h1>
<div class="col-md-4">
    <form method="POST" action="/products">
        <div class="form-group">
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="name">Preço:</label>
            <input type="text" id="price" name="price" class="form-control">
        </div>
        <div class="form-group">
            <label for="name">Estoque:</label>
            <input type="number" id="stock" name="stock" class="form-control">
        </div>
        <input class="btn btn-default" type="submit" value="Enviar">
    </form>

</div>
{{> footer.hbs}}