<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema Supermercado</title>
</head>
<body>
    <h1>Criar Produto</h1>

    <form method="POST" action="/products">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name">
        <br>
        <label for="name">Preço:</label>
        <input type="text" id="price" name="price">
        <br>
        <label for="name">Estoque:</label>
        <input type="text" id="stock" name="stock">
        <br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>