<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema Supermercado</title>
</head>
<body>
    <h1>Sistema Supermercado</h1>
    <ul>
        <li><a href="/clients">Clientes</a></li>
        <li><a href="/products">Produtos</a></li>
        <li><a href="/orders">Vendas</a></li>
    </ul>
</body>
</html>