{{> header.hbs}}

<h1>Sistema Nota fiscal</h1>
<ul class="list-unstyled">
    <li><a href="/customers">Clientes</a></li>
    <li><a href="/products">Produtos</a></li>
    <li><a href="/orders">Vendas</a></li>
    <li><a href="/outgoing">Despesas</a></li>
</ul>
{{> footer.hbs}}