{{> header.hbs}}
<h1>Sistema Supermercado</h1>
<ul>
    <li><a href="/customers">Clientes</a></li>
    <li><a href="/products">Produtos</a></li>
    <li><a href="/orders">Vendas</a></li>
</ul>
{{> footer.hbs}}