<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema Supermercado</title>
</head>
<body>
    <h1>Criar Cliente</h1>

    <form method="POST" action="/customers">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name">
        <br>
        <label for="name">Email:</label>
        <input type="text" id="email" name="email">
        <br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>